<style>
  
  th, 
  td {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding-bottom: 20px;
  }
  
  
  .rich-text-block ul{
    list-style-type: none;
  }
  
  .rich-text-block ul li::before {
    content: "—";
    position: absolute;
    margin-left: -20px;
  }
  
  
  .nav-bar{
    color: black;
    background-color: transparent;
    height: 127px;
    transition: all 300ms ease-in-out;
  }

  .nav-bar-hidden {
    top: -60px;
    height: 60px;
    background-color:#fff;
  }

  .nav-bar-not-pagetop {
    color: black;
    background-color: white;
    height: 60px;
  }

  .nav-bar a{
    color: black;
    transition: color 150ms ease-out;
  }
  
  .nav-bar-hidden-menu-open {
    background-color: transparent;
  }

  body.nav-bar-white-text .nav-bar a,
  body.nav-bar-white-text .nav-bar .menu-button {
    color: white;
  } 
  
  .nav-bar-menu-list a:hover,
  .nav-bar-menu-list a.current,
  .menu-button:hover {
    color: #ff5c39 !important;
  }

  .nav-bar-not-pagetop a,
  body.nav-bar-white-text .nav-bar.nav-bar-not-pagetop a,
  body.nav-bar-white-text .nav-bar.nav-bar-not-pagetop .menu-button {
    color: black;
  }
  
  
  
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}
  
.menu-backgound{
  opacity: 0;
}

.menu-container{
 display:none;
}
  
.main-menu > .main-menu-list-item{
  opacity: 0;
}
  
.secondary-menu-list-item{
  opacity: 0; 
}

.main-menu-list-item ul {
  visibility: hidden;
  opacity: 0;
  transition: all 300ms cubic-bezier(0.65, 0, 0.35, 1);
}
  
.main-menu-list-item:hover ul {
  visibility: visible;
  opacity:1;
  transition: all 600ms cubic-bezier(0.65, 0, 0.35, 1);
}
  
.main-menu-list-item:hover .main-menu-link:not(.sub-menu-link){
  transition: all 250ms cubic-bezier(0.65, 0, 0.35, 1);
  color:#FF5C39;
}
  
.menu-container-full a:hover{
  transition: all 250ms cubic-bezier(0.65, 0, 0.35, 1);
  color:#FF5C39;
}
  
.main-menu-list-item .dropdown-line{
   transition: all 400ms cubic-bezier(1, 0, 0, 1);
}
  
.main-menu-list-item:hover .dropdown-line{
  width:100%;
  transition: all 400ms cubic-bezier(1, 0, 0, 1);
}
  
.em-dash li:before { 
  content: '\—'; 
  margin-right: 20px; 
}
  
.loading-message{
  background-color: #fff;
  animation-name: color-loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color-loading {
  0% {
    background-color: #fff;
    color: #1d1d1b;
  }
  50% {
    background-color: #1d1d1b;
    color: #fff;
  }
  100 {
    background-color: #fff;
    color: #1d1d1b;
  }
}
  
.cursor-right, .cursor-left{
  width: 100px;
  height: 100px;
  background-color: #F6F6F6;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
}
  
.cursor-right::before, .cursor-left::before{
  position: absolute;
  background-size: 25%;
  background-repeat: no-repeat;
  width: 100%;
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(https://uploads-ssl.webflow.com/5ee2074bd5264569f2a3a32f/5f3cda23203847de52ebe45f_arrow_right.svg);
  background-position: 50% 50%;
}
  
.cursor-left::before{
  transform: rotate(180deg);
}

.cursor-show{
  animation: slider-cursor-in 300ms;
  animation-timing-function: cubic-bezier(1,0,0,1);
  transform: scale(1);
  opacity: 1;
}

@keyframes slider-cursor-in {
  from {
    transform: scale(0.2); 
    opacity: 0;
  }
  to {
    transform: scale(1); 
    opacity: 1;
  }
}

.cursor-hidden{
  animation: slider-cursor-out 300ms;
  animation-timing-function: cubic-bezier(1,0,0,1);
  transform: scale(0.2);
  opacity: 0;
}
 
@keyframes slider-cursor-out {
  from {
    transform: scale(1); 
    opacity: 1;
  }
  to {
    transform: scale(0.2); 
    opacity: 0;
  }
}
</style>